@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #002366;
  --secondary: #fdd340;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #002366;
    --secondary: #fdd340;
  }
}

@font-face {
  font-family: Poppins;
  src: url('/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: Lora;
  src: url('/font/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('/font/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('/font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('/font/Roboto-VariableFont_wdth,wght.ttf');
}

body {
  font-family: Poppins, Roboto, Inter, Lora, serif;
  background: var(--background);
  color: black;
}

h1,h2,h3,h4,h5 {
  font-family: Lora, serif;
}
